.prvimeni a{
    text-decoration:none;
    font-weight:bold;
}
body {
  background-size: cover;
}
.prvimeni{
    display:flex;
    background-color:#212F3D;
    height:60px;
    position:relative;
}
.prvimenidesni {
    text-align:right;
    padding-right:80px;
    padding-top: 10px;
    flex-grow:3;
}
.prvimenilevi{
    text-align:left;
    flex-grow:1;
    padding-top:20px;
    padding-left:10px;
}
.prvimenidesni a{
    padding-right:15px;
    color:#CACFD2 ;
    font-size: 15px;
}
.prvimenidesni img{
    height: 30px;
    width: 30px;
    flex-grow: 1;
    border-radius: 33%;
}
.prvimenidesni a:hover{
    color:#F8C471;
    opacity:80%;
    font-size: 18px;
    transition: 400ms;
}
.drugimeni img{
    width:70px;
    height:70px;
    margin-left: 48%;
}
.drugimeni h2{
    text-align:center;
    font-size:20px;
    font-weight:bold;
    font-family: monaco ;
    color:#212F3D;
}
.drugimeni a{
    text-decoration:none;
}
.glavnimeni{
    height:50px;
    display: flex;
    margin-left: 22%;
    margin-top: 30px;
    width: 100%;
}
.glavnimeni a{
    flex-grow:1;
    text-align: center;
    padding-left: 30px;
    font-size: 20px;
    font-family:monaco ;
    color:#212F3D;
    text-decoration: none;
}
.glavnimeni a:hover{
    color:#F8C471;
    font-size: 23px;
    transition: 400ms;
}
*{
    padding: 0;
    margin:0;
}
